html {
    box-sizing: border-box;
    font-size: 16px;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-content: center;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #af2a2f;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
}

header ul {
    display: flex;
    list-style: none
}

header ul li {
    padding: 0 3px;
}

ul {
    list-style: none;
    padding: 0;
}

h1 {
    font-size: x-large;
}

h2 {
    font-size: large;
}

.aside-one, .aside-two, .main-content {
    width: 90%;
    margin: 0 auto;
}

.aside-one {
    margin-top: 50px;
}

