body {
    text-align: center;
    padding: 0;
    background-color: lightgray;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

.container {
    display: block;
    margin: 0 auto;
    max-width: 1200px;
    background-color: white;
}

header {
    display: block;
    padding: 1px 0;
}

main {
    display: block;
    margin: 0;
    padding: 0;
}

nav {
    background-color: rgb(36, 205, 211);
    margin: 0;
    padding: 0;
}

nav ul li{
    display: inline-block;
    padding: 0 20px;
    margin: 10px;
    text-align: center;
}

ul {
    padding: 0;
}

table {
    display: inline-block;
    background-color: white;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 2px 20px;
}

section {
    display: block;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px 0;
}

p {
    text-align: left;
    line-height: 150%;
}

section img {
    width: 300px;
}

.wide {
    width: 500px;
}

aside img {
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
}

aside {
    display: block;
    float: left;
    width: 35%;
    text-align: center;
    padding:20px;
}

article {
    width: 65%;
    display: block;
    float: left;
    padding:20px;
}

section:last-child ul li{
    display: inline-block;
    padding: 20px;
}

footer {
    display: block;
    clear: both;
    font-size: 12px;
}

h2 {
    margin-top: 0;
}

a {
    color: orangered;
}

nav a {
    color: white;
    font-weight: 600;
    text-decoration: none;
}

